<div
  class="
    content
    px-12
    bg-tertiary
    min-h-screen
    flex flex-col
    justify-center
    items-center
    md:flex-row md:justify-evenly md:content-center md:px-0
  "
>
  <div class="title">
    <h1 class="text-5xl text-center">Arreglalo</h1>
    <p class="text-center text-xl pt-3">
      Contactá con el profesional que necesitás
    </p>
  </div>

  <div class="buttons-container">
    <a class="mx-auto" routerLink="/login">
      <arreglalo-button
        class="buton"
        buttonSmall="small"
        buttonText="Iniciar sesión"
        buttonColor="primary"
      ></arreglalo-button>
    </a>

    <a class="mx-auto mt-8" routerLink="/register">
      <arreglalo-button
        buttonSmall="small"
        buttonText="Registrate"
        buttonColor="primary"
      ></arreglalo-button>
    </a>
  </div>
</div>
