<div class="container px-12 bg-tertiary min-h-screen">
  <h1 class="text-5xl text-center pt-10">Arreglalo</h1>
  <p class="text-center text-xl pt-3">
    Contactá con el profesional que necesitás
  </p>

  <div class="buttons-container">
    <a class="mx-auto" routerLink="/login">
      <arreglalo-button
        buttonSmall="small"
        buttonText="Iniciar sesión"
        buttonColor="primary"
      ></arreglalo-button>
    </a>

    <a class="mx-auto mt-8" routerLink="/register">
      <arreglalo-button
        buttonSmall="small"
        buttonText="Registrate"
        buttonColor="primary"
      ></arreglalo-button>
    </a>
  </div>
</div>
