.content {
  @apply p-5 bg-quaternary;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  min-height: 90vh;
  height: 100%;
}
.loading {
  @apply bg-quaternary;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loading h1 {
  font-size: 6rem;
}

.main-content {
  @apply w-full mt-2 sm:mt-5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-detail {
  display: flex;
  align-items: center;
}

.avatar {
  @apply rounded-full;
  margin-left: -15px;
  object-fit: contain;
  width: 75px;
  height: 75px;
}

.buttons-container {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
}

.button-danger {
  @apply shadow-lg bg-red-700 mt-5;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 180px;
  height: 55px;
}

.button-submit-edit {
  @apply shadow-lg bg-primary mt-5;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 180px;
  height: 55px;
}

.form-input-group {
  display: flex;
  flex-direction: column;
}

.form-container-edit {
  @apply w-full;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.button-submit {
  @apply shadow-lg bg-primary mx-auto mt-8;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 180px;
  height: 55px;
  transition: all 0.25s ease-out;
}
.button-submit:disabled {
  cursor: default;
  background-color: #ccc;
}

.button-submit:focus {
  outline: none;
}
