.content {
  @apply p-5 bg-quaternary;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  min-height: 90vh;
  height: 100%;
}

.user-detail-info {
  display: flex;
  flex-direction: column;
}

.loading {
  @apply bg-quaternary;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loading h1 {
  font-size: 6rem;
}

.user-name {
  @apply text-center text-lg sm:text-xl md:text-2xl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  @apply w-full mt-2 sm:mt-5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info p {
  @apply text-center text-base sm:text-lg md:text-xl;
  padding: 1rem 0 0.3rem 0;
}

.user-detail {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.stars-container {
  @apply mt-1 md:mt-3;
}

.error-message {
  color: #e00000;
  font-weight: bold;
}

.avatar {
  @apply rounded-full w-20 h-20 md:w-24 md:h-24;
  margin-left: -15px;
  object-fit: contain;
}

.buttons-container {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button-danger {
  @apply shadow-lg bg-red-600 mt-5;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 180px;
  height: 55px;
}

.button-danger:disabled {
  @apply bg-red-300;
}

.button-submit-primary {
  @apply shadow-lg bg-primary mt-5;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 180px;
  height: 55px;
}

.button-submit-primary:disabled {
  background-color: rgba(124, 169, 161, 1);
  cursor: initial;
}

.form-input-group {
  display: flex;
  flex-direction: column;
}

.form-container-primary {
  @apply w-full;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.button-submit {
  @apply shadow-lg bg-primary mx-auto mt-8;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  width: 180px;
  height: 55px;
  transition: all 0.25s ease-out;
}
.button-submit:disabled {
  cursor: default;
  background-color: #ccc;
}

.button-submit:focus {
  outline: none;
}
