<arreglalo-navbar></arreglalo-navbar>

<ng-container *ngIf="isLoadingThePage; then loading; else loaded">
</ng-container>

<ng-template #loading>
  <div class="loading">
    <fa-icon class="fa-4x fa-spin" [icon]="faSpinner"></fa-icon>
  </div>
</ng-template>

<ng-template #loaded>
  <ng-container
    *ngIf="isEditingProfile; then editingProfile; else detailProfile"
  >
  </ng-container>

  <ng-template #detailProfile>
    <div class="content">
      <h1 class="text-4xl text-center mt-3">{{ myProfessional?.skills }}</h1>

      <div class="main-content">
        <div class="user-detail">
          <img
            class="avatar mr-4"
            width="75"
            height="75"
            src="{{ myProfessional?.avatar }}"
            alt="{{ myProfessional?.name }}"
          />
          <div class="user-name">
            <div class="user-detail-info">
              <h2>{{ myProfessional?.name }}</h2>
              <h2 class="mt-2">{{ myProfessional?.surname }}</h2>
            </div>
            <div
              *ngIf="displayRateStars && isProfessionalHired"
              class="stars-container"
            >
              <arreglalo-stars
                [setRating]="myProfessional?.rate"
                [max]="$any(5)"
                (onRating)="handleRatingClick($event, myProfessional?.id)"
              ></arreglalo-stars>
            </div>
          </div>
        </div>

        <div class="user-info ml-4">
          <p>
            <span class="font-bold">Email:</span> {{ myProfessional?.email }}
          </p>
          <p>
            <span class="font-bold">Teléfono:</span> {{ myProfessional?.phone }}
          </p>
          <div *ngIf="isProfessionalHired || displayLocalUser">
            <p>
              <span class="font-bold">Fecha de nacimiento:</span>
              {{ myProfessional?.dateOfBirth }}
            </p>
            <p>
              <span class="font-bold">DNI:</span>
              {{ myProfessional?.DNI }}
            </p>
            <p>
              <span class="font-bold">Ciudad:</span>
              {{ myProfessional?.address.city }}
            </p>
            <p>
              <span class="font-bold">Calle:</span>
              {{ myProfessional?.address.street }}
            </p>
            <p>
              <span class="font-bold">Código postal:</span>
              {{ myProfessional?.address.zip }}
            </p>
          </div>
        </div>

        <div *ngIf="loggedUserData.professional">
          <div class="buttons-container" *ngIf="displayLocalUser">
            <button
              (click)="toggleEditProfile()"
              class="button-submit-primary"
              buttonText="Editar"
            >
              Editar
            </button>

            <button class="button-danger" (click)="deleteProfile()">
              Borrar perfil
            </button>
          </div>
        </div>

        <div *ngIf="!loggedUserData.professional && !displayLocalUser">
          <ng-container *ngIf="isProfessionalHired; then fire; else hire">
          </ng-container>

          <div class="buttons-container">
            <ng-template #hire>
              <button
                class="button-submit-primary"
                (click)="handleHireClick(myProfessional?.id)"
                [disabled]="disabledButton"
              >
                Contratar
              </button>
            </ng-template>

            <ng-template #fire>
              <button
                class="button-danger"
                (click)="handleFireClick(myProfessional?.id)"
                [disabled]="disabledButton"
              >
                Terminar contrato
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #editingProfile>
    <div class="content">
      <h1 class="text-4xl text-center mt-3">Editando perfil</h1>
      <form
        class="form-container-edit"
        [formGroup]="updateProfessionalProfileForm"
        (ngSubmit)="updateProfile(updateProfessionalProfileForm)"
        autocomplete="nope"
      >
        <div class="form-input-group">
          <label for="skills">Profesión / Habildiades: </label>
          <input
            id="skills"
            placeholder="Habilidades / Profesión"
            type="text"
            formControlName="skills"
            autocomplete="nope"
            value="{{ myProfessional?.skills }}"
          />
          <span
            for="skills"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['skills'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'skills')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="form-input-group">
          <label for="email">Email: </label>
          <input
            id="email"
            placeholder="Email"
            type="email"
            formControlName="email"
            autocomplete="nope"
            email="true"
          />
          <span
            for="email"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['email'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'email')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="form-input-group">
          <label for="name">Nombre: </label>
          <input
            id="name"
            placeholder="Nombre"
            type="name"
            formControlName="name"
            autocomplete="nope"
          />
          <span
            for="name"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['name'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'name')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="form-input-group">
          <label for="surname">Apellido: </label>
          <input
            id="surname"
            placeholder="Apellido"
            type="surname"
            formControlName="surname"
            autocomplete="nope"
          />
          <span
            for="surname"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['surname'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'surname')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="form-input-group">
          <label for="dni">DNI: </label>
          <input
            id="dni"
            placeholder="DNI"
            type="number"
            formControlName="DNINumber"
            autocomplete="nope"
          />
          <span
            for="DNINumber"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['DNINumber'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'DNINumber')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="form-input-group">
          <label for="phone">Teléfono: </label>
          <input
            id="phone"
            placeholder="Teléfono"
            type="number"
            formControlName="phoneNumber"
            autocomplete="nope"
          />
          <span
            for="phoneNumber"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['phoneNumber'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'phoneNumber')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="form-input-group">
          <label for="city">Ciudad: </label>
          <input
            id="city"
            placeholder="Ciudad"
            type="text"
            formControlName="city"
            autocomplete="nope"
          />
          <span
            for="city"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['city'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'city')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="form-input-group">
          <label for="street">Calle: </label>
          <input
            id="street"
            placeholder="Calle"
            type="text"
            formControlName="street"
            autocomplete="nope"
          />
          <span
            for="street"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['street'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'street')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="form-input-group">
          <label for="zip">Código postal: </label>
          <input
            id="zip"
            placeholder="Código postal"
            type="number"
            formControlName="zipNumber"
            autocomplete="nope"
          />
          <span
            for="zipNumber"
            class="error-message text-danger"
            *ngIf="
              updateProfessionalProfileForm.controls['zipNumber'].dirty &&
              updateProfessionalProfileForm.hasError('required', 'zipNumber')
            "
          >
            *Campo obligatorio</span
          >
        </div>

        <div class="buttons-container">
          <button
            class="button-submit-primary"
            type="submit"
            [disabled]="
              updateProfessionalProfileForm.invalid ||
              !updateProfessionalProfileForm.dirty
            "
          >
            Guardar cambios
          </button>

          <button
            class="button-danger"
            (click)="toggleEditProfile(updateProfessionalProfileForm)"
            type="reset"
          >
            Cancelar
          </button>
        </div>
      </form>
    </div>
  </ng-template>
</ng-template>
