<arreglalo-navbar></arreglalo-navbar>
<div class="bg-quaternary content">
  <h1 class="text-4xl py-8 text-center">Profesionales</h1>
  <div class="cards-container">
    <arreglalo-card
      *ngFor="let professional of storeService.professionalsSubject$ | async"
      class="cards-responsive"
      username="{{ professional.name }}"
      profession="{{ professional.skills }}"
      image="{{ professional.avatar }}"
      age="{{ calculateUserAge(professional.dateOfBirth) }}"
      calification="{{ professional.rate }}"
    >
    </arreglalo-card>
  </div>
</div>
