<arreglalo-navbar></arreglalo-navbar>
<div class="content">
  <h1 class="text-4xl py-8 text-center">Developer</h1>

  <div class="main-content">
    <div class="user-detail">
      <img
        class="avatar"
        width="75"
        height="75"
        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        alt=""
      />
      <h2>Mario luis marta</h2>
    </div>

    <div class="user-info">
      <p>Email</p>
      <p>Contacto</p>
      <p>Direccion</p>
      <p>Skills</p>

      <div class="button-edit">
        <arreglalo-button
          buttonColor="primary"
          buttonText="Editar"
          buttonSmall="small"
        ></arreglalo-button>

        <button class="button-delete">Borrar perfil</button>
      </div>
    </div>
  </div>
</div>
