.navbar {
  position: fixed;
  pointer-events: none;
  padding: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 10vh;
  background-color: #494949;
  display: flex;
  padding-left: 2rem;
  align-items: center;
}

.navbar-mobile-modal {
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  width: 70vw;
  height: 100vh;
  font-size: 1.3rem;
}

.navbar-mobile-modal--hiden {
  display: none;
}

.navbar-mobile-modal .navbar-mobile-modal__list {
  padding: 5vh 0 10vh 8vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.navbar-mobile-modal .navbar-mobile-modal__list--logout {
  margin-top: 10vh;
}
