<div class="navbar">
  <arreglalo-hamburger
    [hamburgerIsOpen]="!isOpen"
    (click)="toggleNavbar()"
  ></arreglalo-hamburger>
</div>

<div
  class="navbar-mobile-modal"
  [ngClass]="{ 'navbar-mobile-modal--hiden': isOpen }"
>
  <ul class="navbar-mobile-modal navbar-mobile-modal__list">
    <li>
      <a routerLink="/">Inicio</a>
    </li>
    <li>
      <a routerLink="/profile">Perfil</a>
    </li>
    <li class="navbar-mobile-modal__list--logout" (click)="logOutUser()">
      Cerrar sesion
    </li>
  </ul>
</div>
