<arreglalo-navbar></arreglalo-navbar>
<div class="content">
  <h1 class="text-4xl py-8 text-center">Username perfil</h1>
  <p class="text-center text-xl pt-1">Revisa tu perfil</p>

  <div class="main-buttons">
    <a routerLink="/detail">
      <arreglalo-button
        buttonText="Editar perfil"
        buttonColor="secondary"
      ></arreglalo-button>
    </a>
    <div *ngIf="!loggedUserData.professional">
      <a routerLink="/professionals-hired">
        <arreglalo-button
          buttonText="Profesionales contratados"
          buttonColor="secondary"
        ></arreglalo-button>
      </a>
    </div>
  </div>
</div>
