<div
  class="
    px-12
    bg-quaternary
    min-h-screen
    flex flex-col
    justify-center
    items-center
    md:flex-row md:justify-evenly md:content-center md:px-0
  "
>
  <h1 class="text-5xl text-center md:p-0">Iniciar Sesión</h1>

  <div class="userdata-container">
    <form
      class="w-full max-w-sm flex flex-col content-center"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit(loginForm)"
    >
      <input
        placeholder="Email"
        type="email"
        formControlName="email"
        autocomplete="off"
        autofocus
      />
      <span
        for="email"
        class="error-message text-danger"
        *ngIf="
          loginForm.controls['email'].dirty &&
          loginForm.hasError('required', 'email')
        "
      >
        *Campo obligatorio</span
      >
      <input
        class="mt-8"
        autocomplete="off"
        placeholder="Contraseña"
        type="password"
        formControlName="password"
      />
      <span
        class="error-message text-danger"
        *ngIf="
          loginForm.controls['password'].dirty &&
          loginForm.hasError('required', 'password')
        "
      >
        *Campo obligatorio</span
      >

      <button
        class="button-submit"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Ingresar
      </button>
    </form>
  </div>
</div>
