<div class="px-12 bg-quaternary min-h-screen flex flex-col items-center">
  <h1 class="text-4xl pt-10 text-center">Registrarse</h1>
  <p class="text-center text-xl pt-3">
    Necesitas ayuda en casa o eres un profesional
  </p>

  <div class="buttons-container">
    <a class="mx-auto" routerLink="/register-client">
      <arreglalo-button
        buttonText="Cliente"
        buttonColor="secondary"
      ></arreglalo-button>
    </a>

    <a class="mx-auto mt-8" routerLink="/register-professional">
      <arreglalo-button
        buttonText="Profesional"
        buttonColor="secondary"
      ></arreglalo-button>
    </a>
  </div>
</div>
