<div
  class="
    px-12
    bg-quaternary
    content
    min-h-screen
    flex flex-col
    justify-center
    items-center
    md:flex-row md:justify-evenly md:content-center md:px-0
  "
>
  <div class="title">
    <h1 class="text-4xl pt-10 text-center">Registrarse</h1>
    <p class="text-center text-xl pt-3">
      Necesitas ayuda en casa o eres un profesional
    </p>
  </div>

  <div class="buttons-container">
    <a class="mx-auto" routerLink="/register-client">
      <button disabled class="button">Cliente</button>
    </a>

    <a class="mx-auto mt-8" routerLink="/register-professional">
      <arreglalo-button
        buttonText="Profesional"
        buttonColor="secondary"
      ></arreglalo-button>
    </a>
  </div>
</div>
