.button {
  @apply shadow-lg;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  height: 55px;
  line-height: 21px;
  text-align: center;
}

.button-small {
  width: 180px;
  height: 55px;
}
