/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  font-family: Roboto, "Times New Roman", serif;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

input {
  @apply bg-secondary;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  font-family: Roboto, "Times New Roman", serif;
  font-size: 18px;
  width: 280px;
  height: 55px;
  line-height: 21px;
  text-align: center;
  -moz-box-shadow: inset 0 0 4px #00000085;
  -webkit-box-shadow: inset 0 0 4px #00000085;
  box-shadow: inset 0 0 4px #00000085;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

input:focus {
  outline: none;
}
